.contact.hero {
    background: #acb7ae;
    color: #DDDDDD;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-blend-mode: soft-light;
}

.contact h1{
    font-family: "Alegreya", serif;
    font-size: 2em;
    text-align: center;
}

.contact p{
    font-family: "kalam", serif;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

.contact input{
    background: transparent;
    border:1px solid #5EDCFF;
    color: #DDDDDD;
}

.contact input.input.is-large,
.contact textarea.textarea.is-large{
    font-family: "Quicksand", serif;
    font-size: 1.2rem;
    padding: 1.5rem;
}

.contact input:hover{
    background: transparent;
    border:1px solid #457B9D;
}

.contact input::placeholder{
    color: #457B9D;
    font-size: 1rem;
    font-family: "Quicksand", serif;
}

.contact textarea{
    background: transparent;
    border:1px solid #5EDCFF;
    color: #DDDDDD;
}

.contact textarea:hover{
    background: transparent;
    border:1px solid #457B9D;
}

.contact textarea::placeholder{
    color: #457B9D;
    font-size: 1rem;
    font-family: "Quicksand", serif;
}

.contact button.button.is-link{
    color: #22c022;
    border: 1px solid #22c022;
    font-family: "Kalam", cursive;

}

.contact button.button.is-link.is-disabled{
    background: transparent;
    border: 1px solid #fafafa;
    color: #fafafa;
}

.contact button.button.is-link.is-disabled:hover{
    background: transparent;
    border: 1px solid #fafafa;
    color: #fafafa;
}

.contact button.button.is-link:hover{
    background: transparent;
    border: 1px solid #22c022;
    color: #22c022;
}

.contact p.help{
    text-align: left;
    color:#f05757;
    font-weight: normal;
    font-size: 1rem;
}

.contact .successful {
    color: #22c022;
    font-size: 1.5em;
}

.contact .wentwrong {
    color: #f05757;
    font-size: 1.5em;
}

.contact .hero-foot p{
    margin-bottom: 0;
    font-family: "Kalam", cursive;
    color: #5EDCFF;
    font-size: 1rem;
}

.contact .hero-foot span a{
    font-size: 1em;
    color: #5EDCFF;
}

.contact .placeholder-loading {
    text-align: center;
}

.contact .placeholder-loading img{
    width: 200px;
}

@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300");
*,
*::before,
*::after {
  box-sizing: border-box;
}

